.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid black 1px;
  background-image: url("https://t4.ftcdn.net/jpg/03/11/72/63/360_F_311726370_WUopUflJYzZWTiIPdnP2yZ3xGaNABHZY.jpg");
  margin-top: 80px;
}


.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(140, 255, 0);
  border-radius: 7px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 124, 229);
}
